{% extends "app/templateIn.html" %}

{% block Administrar %}
    {% if request.user.is_superuser == 0 %}
        <li style="display: none;" class="li-start"><a href="#">Administrar</a>
    {% else %}
        <li class="li-start"><a href="#">Administrar</a>
    {% endif %}
{% endblock %}

{% block contenido %}
<body>
    <div class="inf-container">
        <div class="inf">
            <span>Lista de Partidos Políticos</span>
            <p></p>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th><th>Cantidad de visitas</th><th>Cantidad de procesos</th>
                    </tr>
                </thead>
                    {% for dato in lista %}
                        <tr>
                            <td><a href="{% url 'app:consAPart_view' dato.partido.id %}">{{ dato.partido.nameP}}</a></td>
                            <td>{{dato.partido.views}}</td>
                            <td>{{dato.how}}</td>
                        </tr>               
                    {% endfor %}
            </table>
        </div>
    </div>
</body>
{% endblock %}