{% extends "app/templateIn.html" %}

{% block Administrar %}
    {% if request.user.is_superuser == 0 %}
        <li style="display: none;" class="li-start"><a href="#">Administrar</a>
    {% else %}
        <li class="li-start"><a href="#">Administrar</a>
    {% endif %}
{% endblock %}

{% block contenido %}
<body>
    <div class="inf-container">
        <div class="inf">
            <span>Lista de Partidos Políticos</span>
            <p></p>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th><th>Cantidad de visitas</th><th>Cantidad de procesos</th>
                    </tr>
                </thead>
                    {% for partido in partidos %}
                        <tr>
                            <td>{{ partido.nameP}}</td><td>{{partido.views}}</td><td>Procesos</td>
                        </tr>               
                    {% endfor %}
            </table>
            <div class="btn-container">
                <button class="cons-Btn"><a href="#">Afiliar individuo al partido</a></button>
            </div>
        </div>
    </div>
</body>
{% endblock %}