{% extends "app/templateIn.html" %}

{% block Administrar %}
    {% if request.user.is_superuser == 0 %}
        <li style="display: none;" class="li-start"><a href="#">Administrar</a>
    {% else %}
        <li class="li-start"><a href="#">Administrar</a>
    {% endif %}
{% endblock %}

{% block contenido %}
<body>
    <div class="inf-container">
        <div class="inf">
            <span>Consultar Individuo</span>
            <p>Informacion del individuo</p>
            <table>
                <thead>
                    <tr>
                        <th>Apellidos</th><th>Nombres</th><th>Fecha de nacimiento</th><th>Cantidad de vistas</th>
                    </tr>
                </thead>
                        <tr>
                            <td>{{ info.indiv_lastname }}</td>
                            <td>{{ info.indiv_name }}</td>
                            <td>
                                {% if info.birthday %}
                                    {{ info.birthday }}
                                {% else %}
                                    Sin Información
                                {% endif %}
                            </td>
                            <td>{{ info.views }}</td>
                        </tr>               
            </table>
            <span>Lista de afiliaciones</span>
            <table>
                <thead>
                    <tr>
                        <th>Partido</th><th>Fecha de ingreso</th><th>Fecha salida</th>
                    </tr>
                </thead>
                        <tr>
                            {% if part.id %}
                                <td><a href="{% url 'app:consAPart_view' part.id %}">{{ part.nameP }}</a></td>
                                {% if afil.date_in %}
                                    <td>{{afil.date_in}}</td>
                                {% else %}
                                    <td>Sin datos</td>
                                {% endif %}

                                {% if afil.date_out %}
                                <td>{{afil.date_out}}</td>
                                {% else %}
                                    <td>Sin datos</td>
                                {% endif %}

                            {% else %}
                            <td>Sin afiliaciones</td><td>Sin datos</td><td>Sin datos</td>
                            {% endif %}
                        </tr>               
            </table>
            <span>Lista de procesos</span>
            <table>
                <thead>
                    <tr>
                        <th>Fecha inicio del proceso</th>
                        <th>Fecha fin del proceso</th>
                        <th>Titulo del proceso</th>
                        <th>Entidad</th>
                        <th>Monto</th>
                        <th>Comentarios proceso</th>
                        <th>Abierto/Cerrado</th>
                        <th>Acusacion</th>
                        <th>Culpable/Inocente</th>
                        <th>Pena</th>
                        <th>Comentarios Implicacion</th>
                    </tr>
                </thead>
                        {% for dato in lista %}
                        <tr>
                            <td><a href="{% url 'app:consApro_view' dato.pro.id %}">{{dato.pro.title}}</a></td>
                            <td>{{dato.pro.date_start}}</td>
                            <td>{{dato.pro.date_end}}</td>
                            <td>{{dato.pro.entity}}</td>
                            <td>{{dato.pro.howmuch}}</td>
                            <td>{{dato.pro.comments}}</td>
                            <td>{{dato.pro.state}}</td>
                            <td>{{dato.impl.charges}}</td>
                            <td>{{dato.impl.guilty}}</td>
                            <td>{{dato.impl.sentence}}</td>
                            <td>{{dato.impl.commnts}}</td>
                        </tr>
                        {% endfor %}                
            </table>
            <div class="btn-container">
                <button class="cons-Btn"><a href="{% url 'app:afilIndi_view' info.id %}">Afiliar individuo un partido</a></button>
            </div>
        </div>
    </div>
</body>
{% endblock %}