{% extends "app/templateIn.html" %}

{% block Administrar %}
    {% if request.user.is_superuser == 0 %}
        <li style="display: none;" class="li-start"><a href="#">Administrar</a>
    {% else %}
        <li class="li-start"><a href="#">Administrar</a>
    {% endif %}
{% endblock %}

{% block contenido %}
<body>
    <div class="inf-container">
        <div class="inf">
            <span>Consultar Partido Político</span>
            <p>Informacion del partido</p>
            <table>
                <thead>
                    <tr>
                        <th>Nombre del partido</th><th>Cantidad total de procesos</th><th>Cantidad de procesos culpables</th><th>Cantidad de vistas</th>
                    </tr>
                </thead>
                        <tr>
                            <td>{{ info.nameP }}</td><td>procesos</td><td>Procesos vulpable</td><td>{{ info.views }}</td>
                        </tr>               
            </table>
            <span>Lista de afiliados</span>
            <table>
                <thead>
                    <tr>
                        <th>Apellidos</th><th>Nombres</th><th>fecha de ingreso</th><th>fecha de salida</th>
                    </tr>
                </thead>
                {% for individuo in lista_indv %}
                    <tr>
                        <td>{{individuo.indiv_lastname}}</td>     
                        <td>{{individuo.indiv_name}}</td>
                        {% if individuo.date_in %}
                            <td>{{individuo.date_in}}</td>     
                        {% else %}
                            <td>Sin datos</td>
                        {% endif %}
                        {% if individuo.date_out %}
                            <td>{{individuo.date_out}}</td>     
                        {% else %}
                            <td>Sin datos</td>
                        {% endif %}
                    </tr>  
                {% endfor %}              
            </table>
        </div>
    </div>
</body>
{% endblock %}