{% extends "app/templateIn.html" %}

{% block Administrar %}
    {% if request.user.is_superuser == 0 %}
        <li style="display: none;" class="li-start"><a href="#">Administrar</a>
    {% else %}
        <li class="li-start"><a href="#">Administrar</a>
    {% endif %}
{% endblock %}

{% block contenido %}
    <body>
        <div class="form-container">
            <div class="welcome-container">
                <span>Editar Perfil</span>
                <hr>
                <p>Modifique los campos que desee cambiar</p>
                <div class="forms">
                    <form action="{% url 'app:editProfile_post' %}" method="post" class="form" >
                        {% csrf_token %}
                        <fieldset>
                            <label for="">Usuario</label>
                            <input type="text" name="username" id="username" value="{{ request.user.username }}" required>
                        </fieldset>
                        <fieldset>
                            <label for="">Contraseña</label>
                            <input type="password" name="password" id="password" value="{{ request.user.password }}" required>
                        </fieldset>
                        <fieldset>
                            <label for="">Correo</label>
                            <input type="email" name="email" id="email" value="{{ request.user.email }}" required>
                        </fieldset>
                        <fieldset>
                            <label for="">Nombre</label>
                            <input type="text" name="name" id="name" value="{{ request.user.first_name }}" required>
                        </fieldset>
                        <fieldset>
                            <label for="">Apellidos</label>
                            <input type="text" name="lastname" id="lastname" value="{{ request.user.last_name }}"  required>
                        </fieldset>
                        <fieldset>
                            <button type="submit">Enviar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </body>
{% endblock %}