{% extends "app/templateOut.html" %}
{% block titulo %} 
    Iniciar sesión               
{% endblock %}

{% block info %}
    Escriba sus credenciales de ingreso
{% endblock %}

{% block contenido %}
    <div class="forms">
        <form action="{% url 'app:login_post' %}" method="POST" id="form-log" class="form">
            {% csrf_token %} 
            <fieldset>
                <label for="">Usuario</label>
                <input type="text" name="username" id="username" placeholder="Ingrese su usuario" required>
            </fieldset>
            <fieldset>
                <label for="">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Ingrese su contraseña" required>
            </fieldset>
            <fieldset>
                <button type="submit">Enviar</button>
            </fieldset>
        </form>
    </div>
{% endblock %}