{% extends "app/base.html" %}


{% block titulo %}
Peliculas
{% endblock %}  

{% block contenido %}
<table border="1px">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Año</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Wall-e</td>
            <td>2005</td>
            <td>Infantil</td>
        </tr>
        <tr>
            <td>Wall-e 2</td>
            <td>2005</td>
            <td>Infantil</td>
        </tr>
    </tbody>
</table>
{% endblock %}